<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>


    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/homestle.css">

</head>
<header >
    <div th:include="fragments/navbar :: navbar"></div>
</header>
<body>

<h1>Welcome to CodeFellowShip  </h1>

<h3 th:if="${user != null}">
    <span th:text="${'Current user: ' + user.username }"></span><br>
    <span th:text="${'First Name: ' + user.firstName }"></span><br>
    <span th:text="${'Last Name: ' + user.lastName }"></span><br>
    <span th:text="${'Date of Birth: ' + user.dateOfBirth }"></span><br>
    <span th:text="${'Bio : ' + user.bio }"></span>
</h3>
<h2 th:if="!${user}" >Available Routes:</h2>
<a th:if="!${user}"  href="/">/</a> <span th:if="!${user}" > Log in to see your profile info </span>
<a th:if="!${user}" href="/login">Log In</a>
<a th:if="!${user}" href="/signup">Sign Up</a>

<form th:if="${user}" action="/perform_logout" method="POST">
    <input type="submit" value="Log Out">
</form>
</body>
</html>